input {
	file {
		path => [ "/IDO/PaymentGateway/paymentgateway*-*.log" ]
		codec => multiline {
			pattern => "^\[%{TIMESTAMP_ISO8601}\] "
			negate => true
			what => previous
			auto_flush_interval => 1
		}
	}
}

filter {
	grok {
		match => { "message" => "\[%{TIMESTAMP_ISO8601:[@metadata][timestamp]}\] %{DATA:logname}: %{JAVACLASS:sourceclass} %{JAVAMETHOD:sourcemethod}\r\n?%{GREEDYDATA:[@metadata][remainder]}" }
	}
	date {
		match => [ "[@metadata][timestamp]", "ISO8601", "yyyy-MM-dd HH:mm:ss.SSS" ]
	}
	grok {
		match => { "[@metadata][remainder]" => "%{DATA:loglevel}:( %{IP:clientip})? (Received %{DATA:httpmethod} %{URIPATHPARAM:url})?(Returning %{NUMBER:httpstatus:int} %{URIPATHPARAM:url})?(Returning %{GREEDYDATA:xml})?%{DATA:details}\r(\n?%{GREEDYDATA:thrown}\r)?" }
	}
	if [clientip] {
		geoip {
			source => "clientip"
		}
	}
}

output {
	stdout { codec => rubydebug }
	elasticsearch {
		hosts => [ "localhost:9200" ]
		index => "pg"
	}
}
